<section id="about">
	<div class="relative flex items-center">
		<div class="flex-grow border-t border-blue-700"></div>
		<header class="flex-shrink mx-4 font-semibold text-blue-700 uppercase">About</header>
		<div class="flex-grow border-t border-blue-700"></div>
	</div>

	<p class="mt-4">
		<%- about %>
	</p>
</section>