<section>
	<div class="relative flex items-center">
		<div class="flex-grow border-t border-blue-700"></div>
		<header class="flex-shrink mx-4 font-semibold text-blue-700 uppercase">Top Skills</header>
		<div class="flex-grow border-t border-blue-700"></div>
	</div>
	
	<section class="flex flex-wrap justify-center items-start gap-4 my-4">
		<% for (const topSkill of topSkills) { %>	
			<div>
				<span class="bg-blue-100 text-blue-700 p-2 px-6 py-1 text-sm rounded-lg mb-4">
					<%= topSkill %>
				</span>
			</div>
		<% }; %>
	</section>
</section>